.all-houses {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 72, 39);
}

.house-list {
  text-align: center;
  text-decoration: underline;
  color: white;
  list-style-type: none;
}

.room-list {
  text-align: center;
  color: white;
  list-style-type: none;
}

h1 {
  text-align: center;
}

h4 {
  color: rgb(103, 103, 103);
  text-align: center;
}

.mb-4 {
  color: white;
}

button {
  cursor: pointer;
  color: rgb(255, 72, 39);
  background-color: rgb(103, 103, 103);
}

input {
  background-color: rgb(234, 231, 231);
}


